<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	  <!--<add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;c:\users\wirol\documents\visual studio 2010\Projects\ACS.TouristTicket.WinApp\ACS.TouristTicket.WinApp\DB\TouristTicket.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />-->
    <add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Projects\ACS.TouristTicket.TicketAdmin\ACS.TouristTicket.WinApp\ACS.TouristTicket.WinApp\DB\TouristTicket.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
