<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	  <!--<add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;c:\users\wirol\documents\visual studio 2010\Projects\ACS.TouristTicket.WinApp\ACS.TouristTicket.WinApp\DB\TouristTicket.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />-->
    <!--<add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\wirol\Downloads\ACS.TouristTicket.TicketAdmin_2012Aug22_0505PM\ACS.TouristTicket.TicketAdmin\ACS.TouristTicket.WinApp\ACS.TouristTicket.WinApp\DB\TouristTicket.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient"/>-->
	  <!-- CONNECT TO YOUR LOCAL DB IN THE PROJECT-->
    <!--<add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\TicketSys\ACS.TouristTicket.TicketAdmin_2012_09_17\ACS.TouristTicket.TicketAdmin\ACS.TouristTicket.WinApp\DB\TouristTicket.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />-->
    <add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Data Source=localhost;Initial Catalog=AdminTouristTicket;Integrated Security=false;User Instance=false; user id=sa; password=sa;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
	  <add name="TouristTicketEntities" connectionString="metadata=res://*/TouristTicketSync.csdl|res://*/TouristTicketSync.ssdl|res://*/TouristTicketSync.msl;provider=System.Data.SqlClient;provider connection string='Data Source=localhost;Initial Catalog=AdminTouristTicket;Integrated Security=false;User Instance=false; user id=sa; password=sa;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
	  <!-- CONNECT TO YOUR MS SQL SERVER-->
    <!--<add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Data Source=192.168.255.102;Initial Catalog=TouristTicket;Integrated Security=false;User Instance=false; user id=sa; password=sa;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
	<appSettings>
		<add key="SyncIntervalInSeconds" value="60" />
		<add key="MaxRecordsPerDownload" value="50" />
		<add key="MaxRecordsPerUpload" value="50" />
		<add key="AdminDataSyncServiceURL" value="http://www.amaracomputersystem.com/Syncservice/Syncservice.svc" />
		<add key="ConnectService" value="True" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ITicketAdminService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_ISyncService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="1000000" maxBufferPoolSize="524288" maxReceivedMessageSize="1000000"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://www.amaracomputersystem.com/Syncservice/Syncservice.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketAdminService"
    contract="TicketAdminService.ITicketAdminService" name="BasicHttpBinding_ITicketAdminService" />
	  <!--endpoint address="http://localhost:1228/SyncService.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_ISyncService" contract="AdminSyncService.ISyncService"
    name="BasicHttpBinding_ISyncService" /-->
	  <endpoint address="http://www.amaracomputersystem.com/Syncservice/Syncservice.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_ISyncService" contract="AdminSyncService.ISyncService"
    name="BasicHttpBinding_ISyncService" />
  </client>
 </system.serviceModel>
</configuration>
