<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Server=touristticket.db.9405218.hostedresource.com;Database=TouristTicket;UserID=touristticket;password=S@cr@t2012;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />-->
    <add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\ACS.TouristTicket.TicketAdmin_2012_09_17\ACS.TouristTicket.TicketAdmin\ACS.TouristTicket.WinApp\DB\TouristTicket.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="TouristTicketEntities" connectionString="metadata=res://*/TouristTicketSync.csdl|res://*/TouristTicketSync.ssdl|res://*/TouristTicketSync.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\PROJECTS\ACS.TouristTicket.TicketAdmin\ACS.TouristTicket.WinApp\DB\TouristTicket.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>