<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TouristTicketContainer" connectionString="metadata=res://*/TouristTicket.csdl|res://*/TouristTicket.ssdl|res://*/TouristTicket.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Projects\ACS.TouristTicket.TicketAdmin\ACS.TouristTicket.WinApp\ACS.TouristTicket.WinApp\DB\TouristTicket.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>